body {
    margin: 0 auto;
    background-color: rgb(253, 253, 253);
}

.fontsize-titre {
    font-size: 40px;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    object-fit: cover;
    z-index: -1;
  }

  .couleur-texte {
    color: white;
  }

  .hauteur-texte {
    margin-top: 40%;
  }

.lien a {
    text-decoration: none;
}

.margin-video {
    margin-left: 42%;
    margin-top: 1%;
}

.placement-image {
   width: 70%;
   margin-top: -10%;
}

.placement-image2 {
    width: 70%;
    margin-top: -10%;
 }


.flexbox-image {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.text {
    max-width: 10rem;
}


#left-nav {
    display: flex;
    align-items: center;
  }


.placement-texte {
    margin-top: -33%;
    margin-left: 33%;
}


.placement-texte-droite {
    margin-top: -14%;
    margin-left: 72%;
}

.margin-top-texte {
    margin-top: 26%;
}


.margin-top-texte2 {
    margin-top: 21%;
}

.couleur-soleil {
    color: rgb(212, 212, 3);
}

.couleur-aborigene {
    color: black;
}

.couleur-terre {
    color: rgb(138, 22, 22);
}